html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/*header*/
.header {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("./../images/QuatuorPleyel.png");
    height: 100%;
    /*Titre Quatuor Pleyel*/
    h4 {
        font-family: $sans-serif;
        font-size: 18px;
        color: $primary-color;
        margin: 0;
        padding: 2%;
    }
    .title {
        text-align: center;
        margin-top: 15%;
        position: relative;

        h1 {
            color: $primary-color;
            font-size: 4em;
            margin: 0;

        }

        .title__scroll{
            width: 2px;
            height: 55px;
            position: absolute;
            left: 50%;
            margin-top: 20%;
            bottom: auto;
            transform: translateX(-50%);
            z-index: 1000;
            overflow: hidden;

            .scroll__line{
                position: relative;
                width: 100%;
                height: 55px;
            }

            .scroll__line::before{
                content: '';
                display: block;
                width: 2px;
                height: 55px;
                position: absolute;
                left: 0;
                top: 0;
                background: white;
                animation: scroll 2s cubic-bezier(.165,.84,.44,1) infinite;

            }
        }

    }
}
/*Biographie*/
.biography {
	width: 100%;
	height: 100vh;
	display: flex;
	position: relative;
	z-index: 1;
}
img {
    height: 60%;
    width: auto;
}
.biography_imgBox {
    margin: 100px 100px 0 100px;
	position: relative;
	
}
.biography_imgBox:before {
	content: '';
	background: #888;
	width: 100%;
	height: 60%;
	position: absolute;
	top: -30px;
	right: -30px;
	z-index: -1;
	
}
.biography_imgBox:after {
	content: '';
	background: #444;
	width: 100%;
	height: 60%;
	position: absolute;
    bottom: 230px;
	left: -25px;
	z-index: -1;
	
}
.biography_content {
	padding: 25px;
    text-align: justify;
    width: 60%;
    #text_ {
        font-family: $serif;
        font-size: 32px;
        margin-top:5%;
    }
    .biography_content_text {
        line-height: 1.5;
        font-family: $sans-serif;
    }
    #more {
        background: $sixth-color;
        color: $primary-color;
        font-family: $sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        font-size: 14px;
        margin-top: 5%;
        position: absolute;
    }
}
/*extraits audios, vidéos, photos*/
.audio {
    display:flex;
    font-size: 2em;
    /*extraits audios, vidéos, photos*/
    h3 {
        margin-left: 10%;
    }
    /*Vignette*/
    img {
        width: 50%;
        margin-left: 10%;
        margin-bottom: 20%;
    }
    /*Bouton regarder/écouter*/
    .button {
        text-decoration: none;
        text-transform: uppercase;
        background: $primary-color;
        padding: 3% 10%;
        font-size: 0.5em;
    }
    /*Premier bloc*/
    .audio_photos {
        background: $second-color;
        color: $primary-color;

    }
    /*Deuxième bloc*/
    .audio_audios {
        background:$third-color;
    }
    /*Troisième bloc*/
    .audio_videos {
        background:$fourth-color;
    }
}
/*Programmation prochain concert*/
.concert {
    text-align: center;
    margin: 5%; 
    font-size: 2em;
}
/*Carré + date*/ 

    .square{
        width:100px;
        height:100px;
        background:none;
        border: 4px solid $sixth-color;
        transform: rotate(45deg);
        transform-origin: 50% 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .next_date {
        font-size: 36px;
        z-index: 1;
        text-align: center;
        transform: rotate(-45deg);
        span {
            font-size: 42px;
            font-weight: bold;
        }
    }

/* RESPONSIVE */
@media screen and (min-width:720px) and (max-width: 960px) {
    .header {
        height: 80%;
        background-repeat: no-repeat;
        background-size: 100%;
        .title {
            font-size: 0.8em;
        }
    }
    .biography {
        .biography_imgBox {
            display: none;
        }
        .biography_content {
            width: 100%;
            text-align: center;   
            #text_ {
                font-size: 26px;
            }
            .biography_content_text {
                line-height: 1.5;
            }
            #more {
                font-size: 12px;
            }
        }
    }
  }
  

  @media screen and (min-width:480px) and (max-width: 720px) {
    .header {
        height: 60%;
        background-repeat: no-repeat;
        background-size: 100%;
        .title {
            font-size: 0.7em;
        }
    }
    .biography {
        .biography_imgBox {
            display: none;
        }
        .biography_content {
            width: 100%;
            text-align: center;   
            #text_ {
                font-size: 22px;
            }
            .biography_content_text {
                line-height: 1.5;
            }
            #more {
                font-size: 10px;
            }
        }
    }
    .audio {
        display: block;
        font-size: 1.5em;
        h3 {
            padding: 15px;
        }
    }
  }
  

  @media screen and (min-width:320px) and (max-width: 480px) {
    .header {
        height: 40%;
        background-repeat: no-repeat;
        background-size: 100%;
        .title {
            font-size: 0.5em;
        }
    }
    .biography {
        .biography_imgBox {
            display: none;
        }
        .biography_content {
            width: 100%;
            text-align: center;   
            #text_ {
                font-size: 18px;
            }
            .biography_content_text {
                line-height: 1.5;
            }
            #more {
                font-size: 10px;
            }
        }
    }
    .audio {
        display: block;
        font-size: 1.5em;
        h3 {
            padding: 15px;
        }
    }
  }
  