html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/*header*/
.header {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("./../images/QuatuorPleyel.png");
    height: 100%;
    /*Titre Quatuor Pleyel*/
    h4 {
        font-family: $sans-serif;
        font-size: 18px;
        color: $primary-color;
        margin: 0;
        padding: 2%;
    }
    .title {
        text-align: center;
        margin-top: 15%;
        position: relative;

        h1 {
            color: $primary-color;
            font-size: 4em;
            margin: 0;

        }

        .title__scroll{
            width: 2px;
            height: 55px;
            position: absolute;
            left: 50%;
            margin-top: 20%;
            bottom: auto;
            transform: translateX(-50%);
            z-index: 1000;
            overflow: hidden;

            .scroll__line{
                position: relative;
                width: 100%;
                height: 55px;
            }

            .scroll__line::before{
                content: '';
                display: block;
                width: 2px;
                height: 55px;
                position: absolute;
                left: 0;
                top: 0;
                background: white;
                animation: scroll 2s cubic-bezier(.165,.84,.44,1) infinite;

            }
        }

    }
}
/*Biographie*/
.biography {
	width: 100%;
    height: 500px;
	display: flex;
	position: relative;
    z-index: 1;
    
    span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}
img {
    height: 400px;
    width: 266px;
}
.biography_imgBox {
    position: relative;
    width: 350px;
}
.biography_imgBox span::before {
	content: '';
	background: #888;
	height: 100%;
    width: 100%;
	position: absolute;
	top: -30px;
	right: -30px;
	z-index: -1;
	
}
.biography_imgBox span::after {
	content: '';
	background: #444;
	height: 100%;
    width: 100%;
	position: absolute;
    bottom: -25px;
	left: -25px;
	z-index: -1;
	
}
.biography_content {
	padding: 25px;
    text-align: justify;
    width: 50%;
    margin-left: 5%;
    #text_ {
        font-family: $serif;
        font-size: 32px;
    }
    .biography_content_text {
        line-height: 1.5;
        font-family: $sans-serif;
    }
    #more {
        background: $sixth-color;
        color: $primary-color;
        font-family: $sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        font-size: 14px;
        margin-top: 5%;
        position: absolute;
    }
}
/*extraits audios, vidéos, photos*/
.audio {
    display:flex;
    font-size: 1.5em;
    height: 500px;
    /*extraits audios, vidéos, photos*/
    h3 {
        margin-left: 10%;
        font-family: $sans-serif;
        color: $second-color;
        font-weight: 400;
    }
    /*Vignette*/
    img {
        width: 50%;
        height: 50%;
        margin-left: 10%;
        margin-bottom: 10%;
    }
    /*Bouton regarder/écouter*/
    .button {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        margin-left: 10%;
        font-size: 15px;
        display: flex;
        font-family: $sans-serif;
        color: $second-color;
        i {
            margin-left: 10px;
            position: relative;
            top: 2px;
            transition: 0.2s ease-out;
        }
    }
    .button:hover i {
        margin-left: 20px;

    }
    /*Premier bloc*/
    .audio_photos {
        background: $second-color;
        display: flex;
        flex-direction: column;
        h3 {
            color: $primary-color;
        }
        .button {
            color: $primary-color;
        }
    }
    /*Deuxième bloc*/
    .audio_audios {
        background:$third-color;
        display: flex;
        flex-direction: column;
    }
    /*Troisième bloc*/
    .audio_videos {
        background:$fourth-color;
        display: flex;
        flex-direction: column;
    }
}
/*Programmation prochain concert*/
.next_concert {
    position: relative;
    .concert {
        text-align: center;
        margin: 5%; 
        font-size: 2em;
    }
    hr {
        width: 35%;
        height: 2px;
        left: 65%;
        top: 40%;
        position: absolute; 
    }
}
/*Carré + date*/ 
.okokok {
    display:flex;
}
    .square{
        width:150px;
        height:150px;
        background:none;
        border: 3px solid $sixth-color;
        transform-origin: 50% 50%;
        transform: rotate(45deg);
        margin: auto;
        margin-bottom: 2%;
    
    .next_date {
        font-size: 28px;
        width:150px;
        height:150px;
        z-index: 1;
        text-align: center;
        display: flex;
        margin: auto;
        transform-origin: 50% 50%;
        transform: rotate(-45deg);
        font-family: $sans-serif;

        p{
            margin: auto;

        }
        span {
            font-size: 44px;
            font-weight: bold;
        }
    }
    }
    .lieu {
        padding-top: 1%;
        font-size: 18px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-weight: 600;
    }
    hr {
        height: 30px;
        width: 2px;
        border: none;
        background: $sixth-color;
    }
    .next_date_infos .infos {
        font-size: 14px;
        font-family: $sans-serif;
        width: 50%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }
    /*CONTACT*/
    .contact {
        width: 100%;
        background:$fourth-color;
        height: 20%;
        text-align: center;
        display: flex;
        .contact_us {
            text-decoration: none;
            font-family: $sans-serif;
             text-transform: uppercase;
             color: $primary-color;
             border: 1px solid $primary-color;
             padding:1% 5%;
            margin: auto;
        }
    }
    .footer {
        width: 100%;
        height: 30%;
        background: $second-color;
        display: flex;
        .list_items {
            display: flex;
            margin: auto;
            color: $primary-color;
            font-family: $sans-serif;
            line-height: 3;
            ul {
                list-style: none;
            }
        }
    }
/* RESPONSIVE */
@media screen and (min-width:720px) and (max-width: 960px) {
    .header {
        height: 80%;
        background-repeat: no-repeat;
        background-size: 100%;
        .title {
            font-size: 0.8em;
        }
    }
    .biography {
        .biography_imgBox {
            display: none;
        }
        .biography_content {
            width: 80%;
            text-align: center;
            margin: auto;  
            margin-top: 0;
            margin-bottom: 0;
            #text_ {
                font-size: 26px;
            }
            .biography_content_text {
                line-height: 1.5;
            }
            #more {
                font-size: 12px;
            }
        }
    }
  }
  

  @media screen and (min-width:480px) and (max-width: 720px) {
    .header {
        height: 60%;
        background-repeat: no-repeat;
        background-size: 100%;
        .title {
            font-size: 0.7em;
        }
    }
    .biography {
        .biography_imgBox {
            display: none;
        }
        .biography_content {
            width: 100%;
            text-align: center;   
            #text_ {
                font-size: 22px;
            }
            .biography_content_text {
                line-height: 1.5;
            }
            #more {
                font-size: 10px;
            }
        }
    }
    .audio {
        display: block;
        font-size: 1.5em;
        h3 {
            padding: 15px;
        }
    }
  }
  

  @media screen and (min-width:320px) and (max-width: 480px) {
    .header {
        height: 40%;
        background-repeat: no-repeat;
        background-size: 100%;
        .title {
            font-size: 0.5em;
        }
    }
    .biography {
        .biography_imgBox {
            display: none;
        }
        .biography_content {
            width: 90%;
            text-align: center;   
            #text_ {
                font-size: 18px;
            }
            .biography_content_text {
                line-height: 1.5;
            }
            #more {
                font-size: 10px;
            }
        }
    }
    .audio {
        display: block;
        font-size: 1.5em;
        h3 {
            padding: 15px;
        }
    }
  }
  