@charset "UTF-8";
@keyframes scroll {
  0% {
    height: 0; }
  50% {
    height: 55px;
    top: 0; }
  100% {
    top: 55px; } }
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

/*header*/
.header {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  background-image: url("./../images/QuatuorPleyel.png");
  height: 100%;
  /*Titre Quatuor Pleyel*/ }
  .header h4 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #FAFAFA;
    margin: 0;
    padding: 2%; }
  .header .title {
    text-align: center;
    margin-top: 15%; }
    .header .title h1 {
      font-family: "Playfair Display", serif;
      color: #FAFAFA;
      font-size: 4em;
      margin: 0; }
    .header .title .title__scroll {
      width: 50px;
      position: absolute;
      left: 50%;
      margin-top: 20%;
      bottom: 50px;
      transform: translateX(-50%);
      z-index: 1000;
      overflow: hidden; }
      .header .title .title__scroll span {
        color: white;
        margin-bottom: 10px;
        font-size: 17px;
        font-family: "Roboto", sans-serif;
        font-weight: 550; }
      .header .title .title__scroll .scroll__line {
        position: relative;
        margin: auto;
        margin-top: 10px;
        width: 2px;
        height: 55px; }
      .header .title .title__scroll .scroll__line::before {
        content: '';
        display: block;
        width: 2px;
        height: 55px;
        position: absolute;
        left: 0;
        top: 0;
        background: white;
        animation: scroll 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite; }

.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px; }

/*Biographie*/
.biography {
  width: 100%;
  height: 500px;
  display: flex;
  position: relative;
  z-index: 1; }
  .biography span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

img {
  height: 400px;
  width: 266px; }

.biography_imgBox {
  position: relative;
  width: 350px; }

.biography_imgBox span::before {
  content: '';
  background: #888;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -30px;
  right: -30px;
  z-index: -1; }

.biography_imgBox span::after {
  content: '';
  background: #444;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -25px;
  left: -25px;
  z-index: -1; }

.biography_content {
  padding: 25px;
  text-align: justify;
  width: 50%;
  margin-left: 5%; }
  .biography_content #text_ {
    font-family: "Playfair Display", serif;
    font-size: 32px; }
  .biography_content .biography_content_text {
    line-height: 1.5;
    font-family: "Roboto", sans-serif; }
  .biography_content #more {
    background: #ffbd4f;
    color: #FAFAFA;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    font-size: 14px;
    margin-top: 5%;
    position: absolute; }

/*extraits audios, vid├®os, photos*/
.audio {
  display: flex;
  font-size: 1.5em;
  height: 500px;
  margin-top: 50px;
  /*extraits audios, vid├®os, photos*/
  /*Vignette*/
  /*Bouton regarder/├®couter*/
  /*Premier bloc*/
  /*Deuxi├¿me bloc*/
  /*Troisi├¿me bloc*/ }
  .audio h3 {
    margin-left: 10%;
    font-family: "Roboto", sans-serif;
    color: #343434;
    font-weight: 400; }
  .audio img {
    width: 50%;
    height: 50%;
    margin-left: 10%;
    margin-bottom: 10%; }
  .audio .button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 10%;
    font-size: 15px;
    display: flex;
    font-family: "Roboto", sans-serif;
    color: #343434; }
    .audio .button i {
      margin-left: 10px;
      position: relative;
      top: 2px;
      transition: 0.2s ease-out; }
  .audio .button:hover i {
    margin-left: 20px; }
  .audio .audio_photos {
    background: #343434;
    display: flex;
    flex-direction: column; }
    .audio .audio_photos h3 {
      color: #FAFAFA; }
    .audio .audio_photos .button {
      color: #FAFAFA; }
  .audio .audio_audios {
    background: #F3f3f3;
    display: flex;
    flex-direction: column; }
  .audio .audio_videos {
    background: #b8b8b8;
    display: flex;
    flex-direction: column; }

/*Programmation prochain concert*/
/*Carr├® + date*/
.concert-container {
  width: 100%; }
  .concert-container .next_concert {
    position: relative; }
    .concert-container .next_concert .concert {
      text-align: center;
      margin: 5%;
      font-size: 2em; }
      .concert-container .next_concert .concert span {
        background: white; }
    .concert-container .next_concert hr {
      width: 50%;
      height: 2px;
      right: 0;
      top: 40%;
      position: absolute;
      z-index: -1; }
  .concert-container .okokok {
    display: flex; }
  .concert-container .square {
    width: 150px;
    height: 150px;
    background: none;
    border: 3px solid #ffbd4f;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    margin: auto;
    margin-bottom: 2%; }
    .concert-container .square .next_date {
      font-size: 28px;
      width: 150px;
      height: 150px;
      z-index: 1;
      text-align: center;
      display: flex;
      margin: auto;
      transform-origin: 50% 50%;
      transform: rotate(-45deg);
      font-family: "Roboto", sans-serif; }
      .concert-container .square .next_date p {
        margin: auto; }
      .concert-container .square .next_date span {
        font-size: 44px;
        font-weight: bold; }
  .concert-container .lieu {
    padding-top: 1%;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600; }
  .concert-container hr {
    height: 30px;
    width: 2px;
    border: none;
    background: #ffbd4f; }
  .concert-container .next_date_infos .infos {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%; }

/*CONTACT*/
.contact {
  width: 100%;
  background: #b8b8b8;
  height: 100px;
  text-align: center;
  display: flex; }
  .contact .contact_us {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: #FAFAFA;
    border: 1px solid #FAFAFA;
    padding: 1% 5%;
    margin: auto; }

.footer {
  width: 100%;
  height: 30%;
  background: #343434;
  display: flex; }
  .footer .list_items {
    display: flex;
    margin: auto;
    color: #FAFAFA;
    font-family: "Roboto", sans-serif;
    line-height: 3; }
    .footer .list_items ul {
      list-style: none; }

/* RESPONSIVE */
@media screen and (min-width: 720px) and (max-width: 960px) {
  .header {
    height: 80%;
    background-repeat: no-repeat;
    background-size: 100%; }
    .header .title {
      font-size: 0.8em; }

  .biography .biography_imgBox {
    display: none; }
  .biography .biography_content {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0; }
    .biography .biography_content #text_ {
      font-size: 26px; }
    .biography .biography_content .biography_content_text {
      line-height: 1.5; }
    .biography .biography_content #more {
      font-size: 12px; } }
@media screen and (min-width: 480px) and (max-width: 720px) {
  .header {
    height: 60%;
    background-repeat: no-repeat;
    background-size: 100%; }
    .header .title {
      font-size: 0.7em; }

  .biography .biography_imgBox {
    display: none; }
  .biography .biography_content {
    width: 100%;
    text-align: center; }
    .biography .biography_content #text_ {
      font-size: 22px; }
    .biography .biography_content .biography_content_text {
      line-height: 1.5; }
    .biography .biography_content #more {
      font-size: 10px; }

  .audio {
    display: block;
    font-size: 1.5em; }
    .audio h3 {
      padding: 15px; } }
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    height: 40%;
    background-repeat: no-repeat;
    background-size: 100%; }
    .header .title {
      font-size: 0.5em; }

  .biography .biography_imgBox {
    display: none; }
  .biography .biography_content {
    width: 90%;
    text-align: center; }
    .biography .biography_content #text_ {
      font-size: 18px; }
    .biography .biography_content .biography_content_text {
      line-height: 1.5; }
    .biography .biography_content #more {
      font-size: 10px; }

  /*extraits audios, vid├®os, photos*/
  .audio {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    margin-top: 50px;
    height: 1600px;
    /*extraits audios, vid├®os, photos*/
    /*Premier bloc*/
    /*Deuxi├¿me bloc*/
    /*Troisi├¿me bloc*/ }
    .audio h3 {
      padding: 15px; }
    .audio .audio_photos {
      background: #343434;
      display: flex;
      flex-direction: column;
      height: 450px; }
    .audio .audio_audios {
      background: #F3f3f3;
      display: flex;
      flex-direction: column;
      height: 450px; }
    .audio .audio_videos {
      background: #b8b8b8;
      display: flex;
      flex-direction: column;
      height: 450px; }

  .concert-container {
    width: 100%; }
    .concert-container .next_concert {
      position: relative; }
      .concert-container .next_concert .concert {
        text-align: center;
        margin: 5%;
        font-size: 2em; }
        .concert-container .next_concert .concert span {
          background: white; }
      .concert-container .next_concert hr {
        width: 50%;
        height: 2px;
        right: 0;
        top: 40%;
        position: absolute;
        z-index: -1; }
    .concert-container .okokok {
      display: flex; }
    .concert-container .square {
      width: 150px;
      height: 150px;
      background: none;
      border: 3px solid #ffbd4f;
      transform-origin: 50% 50%;
      transform: rotate(45deg);
      margin: auto;
      margin-bottom: 2%; }
      .concert-container .square .next_date {
        font-size: 28px;
        width: 150px;
        height: 150px;
        z-index: 1;
        text-align: center;
        display: flex;
        margin: auto;
        transform-origin: 50% 50%;
        transform: rotate(-45deg);
        font-family: "Roboto", sans-serif; }
        .concert-container .square .next_date p {
          margin: auto; }
        .concert-container .square .next_date span {
          font-size: 44px;
          font-weight: bold; }
    .concert-container .lieu {
      padding-top: 1%;
      font-size: 18px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-weight: 600; }
    .concert-container hr {
      height: 30px;
      width: 2px;
      border: none;
      background: #ffbd4f; }
    .concert-container .next_date_infos .infos {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      width: 50%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5%; } }

/*# sourceMappingURL=style.css.map */
